<div id="<%= dom_id recipe %>">
    <% if active_link('/') %>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg w-50 mt-4">
        <div class="px-3 py-4 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
            <%= recipe.name %> <br>
            <small>
            By <%= recipe.user.name %>
            </small>
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                <%= link_to "Click here for recipe details", recipe, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
            </p>
        </div>
        <div class="border-t border-gray-200 w-50">
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Amount of foods</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= recipe.recipe_foods.count %></dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Total value of price</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <% value = 0%>
            <% recipe.recipe_foods.each do |recipe_food| %>
                <% value = value + recipe_food.quantity * recipe_food.food.price %>
            <% end %>
            $<%= value %>
            </dd>
        </div>
        </div>
    </div>
    <% end %>
    <% if active_link('/recipes') %>
            <div class="bg-white shadow overflow-hidden sm:rounded-lg w-50 mt-4">
            <div class="px-3 py-4 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900"><%= recipe.name %></h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    <%= link_to "Click here for details", recipe, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                </p>
            </div>
            <div class="border-t border-gray-200 w-50">
                <div class="bg-gray-50 px-2 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= recipe.description %></dd>
                </div>
                <hr>
                <div class="px-2 py-2 sm:px-6">
                    <%= button_to "Delete", @recipe, method: :delete, class: "group relative flex justify-center py-1 px-1 border border-transparent text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                </div>
            </div>
        </div>
    <% end %>
</div>