<%= form_with(model: food, class: "contents") do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



    <div id='food-form-group' class="md:grid md:grid-cols-3 md:gap-6 py-3.5"%>
      <div>
        <%= form.label :name, style: "display: block", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :name, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300", placeholder:"onion, rice, milk, etc"%>
      </div>

      <div>
        <%= form.label :measurement_unit, style: "display: block", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :measurement_unit, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300", placeholder:"kg, lb, gr, lts, etc" %>
      </div>

      <div>
        <%= form.label :price, style: "display: block", class: "block text-sm font-medium text-gray-700" %>
        <%= form.number_field :price , class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300", placeholder:"$us"%>
      </div>
    </div>

  <div class="inline">
    <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>
